body{
  padding: 0;
  margin: 0;
}

#contextMenu{
  position: absolute;
  background-color: darkgrey;
}

#contextMenu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#contextMenu ul li{
  margin: 0;
  padding: 5px 10px;
}